.budget{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;
    overflow: clip;
    position: relative;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    background-color: #fff;
}

.budget-header {
    display: flex;
    flex: 0 0 auto;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 5px 24px;
    height: 50px;
    border-bottom: 1px solid rgb(235, 235, 235);
    color: rgb(34, 34, 34);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 800;
}


.budget-content {
    max-height: calc(100vh - 80px);
    box-sizing: border-box;
    padding: 24px;
    flex: 1 1 auto;
    overflow-y: scroll;
    outline: none;
}

.budget-footer {
    display: flex;
    flex: 0 0 auto;
    border-top: 1px solid #ebebeb;
    padding: 13px 24px;
    height: 16px;
    background-color: #fff;
    align-items: center;
    justify-content:flex-end;
}   

.budget-footer-logo {
    height: 16px;
    
}

.budget-form-input {
    max-width: 50%;
    margin: 30px auto;
}

.budget-input {
    padding: 10px 20px;
    width: 50%;
    max-width: 100%;
    margin: 10px auto;
    border-radius: 10px;
    text-align: center;
    display: block;
    border: 1px solid rgb(201, 201, 201);
}

.budget-input::placeholder {
    text-align: center;
}

.budget-input-btn {
    width: 70px;
    padding: 10px 6px;
    border: none;
    border-radius: 10px;
    background: #65e1c0;
}

.choose-budget {
    margin-bottom: 0;
}

.sub-text {
    margin: 4px 0 30px;
    font-size: 0.8rem; 
    color: #616161;
}

.current-budget {
    margin: 40px auto;
    max-width: 40%;
    color: #616161 ;
}

.current-budget-subtext {
    margin-top: 0px;
    font-size: 0.8rem;
}

.red-text {
    color: firebrick;
}

.yellow-text {
    color: #b29d00;
}

@media (max-width: 899px) {
    .budget-heading {
        margin-left: 20px;
    }
    .budget{
        max-width: 100vw;
    }
}










