.navbar {
    margin: 30px auto 0;
    text-align: center;
    position: relative;
}


.login-btn, .register-btn {
    margin: 60px auto;
    height: 20px;
    border: 1px solid #7ee8cc;
    border-radius: 12px;
    width: 240px;
    padding: 13px 15px;
    text-align: left;
    font-size: 13px;    
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 200ms all;
}

.login-btn:hover, .register-btn:hover {
    border: 2px solid rgb(61, 61, 191);
    font-weight: 600;
    transition: 200ms all;

}

.navbar a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.login-form {
    display: block;
}

.email-input, .password-input, .nickname-input {
    margin: 25px auto;
    height: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #7ee8cc;
    border-radius: 12px;
    width: 240px;
    padding: 13px 15px;
    text-align: left;
    font-size: 13px;  
    display: block;
    background-color: transparent;
    outline: none;
    caret-color: #7ee8cc ;
    color: #fff;
}

.type-input {
    appearance: none;
    margin: 20px auto;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #7ee8cc;
    border-radius: 12px;
    width: 270px;
    padding: 13px 15px;
    text-align: left;
    font-size: 13px;  
    display: block;
    background-color: transparent;
    outline: none;
    caret-color: #7ee8cc ;
    color: #fff;
}

.error-input {
    border-bottom: 1px solid red;
}

.error-text {
    position: absolute;
    color: red;
    left: 10px;
    bottom: 47px;
    font-size: 0.7rem;
}


.login-register-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.cancel-btn {
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
}

.cancel-btn:hover {
    text-decoration: underline;
    transition: 0.3 all;
}


.next-btn {
    background-color: #1d9a79;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
}

.next-btn:hover {
    background-color: #48c1a1;
    transition: 0.3 all;
}


@media (max-width: 1200px) {

    

    .email-input, .password-input, .nickname-input {
        margin: 50px auto 30px;
    }

    .login-register-actions {
        max-width: 240px;
        margin: 50px auto 0;
        
    }
    
}