.radio-input {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 50%;
  cursor: pointer;
  min-height: 56px;
  padding: 15px 0 10px;
  margin: 0 auto;
  border-radius: 8px;
  border: 1px solid #c6c6c6;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  flex: 1 1 auto;
}
  .radio {
    margin: 0 15px;
    width: 22px;
    height: 22px;
    flex: 0 0 auto;
  }
  .radio-unchecked {
    appearance: none !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgb(176, 176, 176) !important;
    background: rgb(255, 255, 255) !important;
    overflow: hidden !important;
    border-radius: 50% !important;
    vertical-align: top !important;
    outline: none !important;
  }
  .radio-checked {
    appearance: none !important;
    border-style: solid !important;
    overflow: hidden !important;
    border-radius: 50% !important;
    vertical-align: top !important;
    outline: none !important;
    border-color: #0f4032 !important;
    border-width: 7px !important;
    background: white !important;
  }


.radio-input:first-child {
  border-radius: 8px 8px 0 0 !important;
}
.radio-input:last-child {
  border-radius: 0 0 8px 8px !important;
}
