.sidebar {
    width: 350px;
    background: rgb(9, 9, 75);
    background: linear-gradient(180deg, #07073e 0%, #010114 50% );
    padding: 0;
    max-width: 400px;
    margin: 0 0;
    height: 100%;
    min-height: 100vh;
    text-align: center;
    z-index: 1;
}

.logo-icon-wrapper {
    /* margin: 200px 0 0; */
    max-width: 250px;
    color: #fff;
    text-align: left;
    font-size: 0.8rem;
}

.logo-icon {
    width: 70px;
}

.sidebar-inner-wrapper {
    display: flex;
    gap: 25vh;

    justify-content: space-between;
    flex-direction: column;
    /* margin: auto 40px; */
    max-height: 100% ;
    min-height: 100vh;
    /* height: 100vh; */
    
}

.sidebar-actions {
    flex: 0 0 auto;
    margin-top: 15vh;
    margin-bottom: 20px;
}

.inner-action-wrapper {
    /* margin: 57% 0; */
    margin: 0 40px;
}

.sidebar-footer {
    height: 70px;
    margin-bottom: 0;
    margin-top: -30px;
    color: #fff;
    /* padding-bottom: 40px; */
    /* background-color: #010114; */
    /* padding: 40px 0; */
    
}

.logo {
    width: 170px;
    margin: 0 0 10px;
}

.sidebar-agreement {
    margin: 0 auto;
    max-width: 250px;
    font-size: 0.6rem;
}

.sidebar-agreement span {
    color: #7ee8cc;
    cursor: pointer;
} 


@media (max-width: 1200px) {
    .sidebar {
        width: 100vw;
        max-width: 100vw;
        height: 100vh;

    }

    .sidebar-inner-wrapper {
        max-height: none ;
        height: 100%;
    }

    .sidebar-actions {
        margin-top: 10vh;
    }

    .logo-icon-wrapper {
        margin: 0 auto;
        text-align: center;
    }
    .sidebar-footer {
        margin-top: -190px;
    }
}