.landing-page{
    display: flex;
}

.hero-section {
    flex: 1 0 auto;
    /* height: 100vh; */
    /* width: calc(100vw -350px); */
    /* min-height: 100vh; */
    position: relative;
    background-color: #effefa;
    /* background: linear-gradient(180deg, #e7e7e7 0%, #eafffa 100% ); */
}

.hero-inner-wrapper {
    padding: 24px;
    position: relative;
    max-width: 100%;
    /* max-width: calc(100% - 398px); */
    
}


.hero-text {
    position: absolute;
    text-align: left;
    left: 80px;
    font-size: 3.5rem;
    top: 40px;
    max-width: 700px;
    background-clip: text;
    color: transparent;
    background-image:  linear-gradient(140deg, #34357b 0%, #a9ffe8 100% );
}

.floating-circle {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 300px;
    z-index: 0;
    right: 570px;
    border: none;
    border-radius: 100%;
    box-shadow: -6px -5px 18px 0px #07073e06;
    background: linear-gradient(139deg, #a8ffe8 0%, #eafffa 80% );
}

.hero-image {
    width: 45em;
    opacity: 80%;
    margin: 265px 0 0 340px;
}

.notification {
    background-color: #64cfb3;
    padding: 15px;
    text-align: center;
    position: absolute;
    bottom: 1.25em;
    width: 10.625em;
    right: 0;
    color: #010114;
    font-weight: 400;
    border-radius: 10px 0 0 10px;
    box-shadow: -6px -5px 18px 9px #07073e14;;
    z-index: 1;

}

.notification.hide {
    display: none;
    transition: 300ms ease-in-out;
}

.clear {
    clear: both;
}


@media (max-width: 1200px) {
    .hero-section {
        display: none;
    }
}