.landing-page{
    display: flex;
}

.hero-section {
    flex: 1 0 auto;
    /* height: 100vh; */
    /* width: calc(100vw -350px); */
    /* min-height: 100vh; */
    position: relative;
    background-color: #effefa;
    /* background: linear-gradient(180deg, #e7e7e7 0%, #eafffa 100% ); */
}

.hero-inner-wrapper {
    padding: 24px;
    position: relative;
    max-width: 100%;
    /* max-width: calc(100% - 398px); */
    
}


.hero-text {
    position: absolute;
    text-align: left;
    left: 80px;
    font-size: 3.5rem;
    top: 40px;
    max-width: 500px;
    background-clip: text;
    color: transparent;
    background-image:  linear-gradient(140deg, #34357b 0%, #a9ffe8 100% );
}

.floating-circle {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 290px;
    z-index: 0;
    right: 280px;
    border: none;
    border-radius: 100%;
    box-shadow: -6px -5px 18px 0px #07073e06;
    background: linear-gradient(139deg, #a8ffe8 0%, #eafffa 80% );
}

.hero-image {
    width: 37em;
    opacity: 80%;
    margin: 365px 0 0 440px;
}

/* .landing-logo {
    width: 140px;
    margin-top: ;
} */

.clear {
    clear: both;
}